<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>

   <h1>Welcome To NMS</h1>

</body>


<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>

</html>